In [64]:
import pandas as pd

In [65]:
has_parent = pd.read_csv('2022bkk-buget-has_parent.csv')
item = pd.read_csv('2022bkk-buget-item.csv')

In [66]:
item[item.amount.apply(lambda x: not x.isdigit())]

,id,text,amount,filename,page,line_num
411,591,01202-1 เงินเพิ่มค่าจ้างประจํา ฯ71220 บาท,ฯ71220,65027.pdf,22,13
7863,11379,01101-1 อัตราเดิม 11 อัตรา ๆ437420 บาท,ๆ437420,65046.pdf,29,4
9796,14184,งานงบประมาณโรงเรียน - รหัส 1300022,รหัส,65051.pdf,28,1